body
{
background-color: lightsteelblue;
background-image: url(bgpic.jpg);
/*background-position: 40px, 40px;*/
background-repeat: repeat-y;
}

p
{
    font: 14pt "Times Cyr", serif;
    text-indent: 20;
    line-height: 1.5;
    color:rgb(63, 35, 3);
}

h1
{
    color: rgb(151, 14, 14);
}

h2
{
    color: rgba(8, 8, 145, 0.774);
    letter-spacing: 20px;
}

hr
{
    background-color: rgb(16, 16, 63);
    height: 1px;
}

ul
{
    font-family: "Times Cyr", serif;
    font-size: larger;
    line-height: 2;
    list-style: circle;
    display: inline;
}