.arial
{
    font-family: 'Arial Black',Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.italic
{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 24px;
    text-align: justify;
    text-indent: 48px;
}

.verdana
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-style: oblique;
}

.georg
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: center;
}

.comic
{
    font-family: 'Comic Sans MS';
    font-size: 1.3em;
    font-style: italic
}