body
{
    background-image: url(https://images.wallpaperscraft.ru/image/single/noutbuk_klavishi_kod_211625_1280x720.jpg);
    color: snow;
    font-family: Century, "Times Cry", serif;
    font-size: 24px;
    text-indent: 24px;
    letter-spacing: 0.5;
    /*background-repeat: no-repeat;*/
    background-attachment:fixed;
}

h1
{
    font-family: "Times Cry", serif;
}

h2
{
    font-family: "Times Cry", serif;
}

ol
{
    list-style-type: lower-latin;
    line-height: 1.5;
}